The way Emily gets this to work is:

In the bash console, type `\ArcGIS\Pro\bin\Python\Scripts\proenv` to activate the ArcGIS Pro Python 3 conda environment. This is the only way I know to access ArcPy outside of an ArcGIS GUI. Change directories into the location of this code: `cd Code\beachplant_dataextraction` Then open a jupyter lab session: `jupyter lab`. At the beginning, you may need to install some additional Python packages, such as jupyterlab (`conda install -c conda-forge jupyterlab`). 

## First, import the necessary modules

In [84]:
import os
import arcpy
import time
import pandas as pd
import sys
import numpy as np
import pyproj

# Set up alert sound for long-running cells
from IPython.display import Audio
sound_file = r'\\Mac\stor\Code\van-sliding-door-daniel_simon.wav'
from IPython.display import Image

print("Date: {}".format(datetime.date.today()))
print('pandas version: {}'.format(pd.__version__))
print('numpy version: {}'.format(np.__version__))
print('pyproj version: {}'.format(pyproj.__version__))

Date: 2019-07-19
pandas version: 0.20.1
numpy version: 1.11.2
pyproj version: 1.9.5.1

## Set up arcpy environments

In [85]:
# Set year of analysis
year = 2008

# Paths
home = r'\\Mac\stor\Projects\SA_DataProcessing\GDBs'
data_dir = r'\\Mac\stor\Projects\SA_DataProcessing\input_data'
output_dir = r'\\Mac\stor\Projects\SA_DataProcessing\outputs'

# Set up workspace
yeargdb = os.path.join(home, str(year) +'.gdb')
if not os.path.exists(yeargdb):
    arcpy.CreateFileGDB_management(home, str(year))
    print('Created new gdb "{}.gdb"'.format(year))
arcpy.env.workspace = yeargdb
arcpy.env.scratchWorkspace = home
arcpy.CheckOutExtension("Spatial")

'CheckedOut'

## Initialize filenames and other variables

In [86]:
# Files
DEM_dir = os.path.join(data_dir, 'ASIS_Lidar2008')
veg_polyshp = os.path.join(data_dir, 'ASIS_veghabMaps', 'asis_pipl_habitat2008.shp')
veg_type_field = 'Veg_Type'
OceanCityInlet = 'inlet_OceanCity'

# Parameters
ranPts_per_PlantPt = 3
dune_dist_threshold = 200
lastyrpts_cnt_radius = 30
lastyrpts_dist_threshold = ""
MHW = 0.34
MLW = -0.13
MTL = (MHW + MLW)/2
gridsz = 5
plants_epsg = 26918
fill = -99999
dem_null = -32767

# Initialize
crs = arcpy.SpatialReference(plants_epsg)

# Output filenames
DEM = 'DEM08'
inletLines = 'inletLines'
OceanCityInlet = 'inlet_OceanCity'
SLpts = 'SLpts'
DLpts = 'DLpts'
DHpts = 'DHpts'
barrierBoundary = 'bndpoly{}'.format(year)
plants_outfc = 'pts_plants'
ranPts = 'pts_random_obsX{}'.format(ranPts_per_PlantPt)
lastyear_pts = '{}{}'.format(plants_outfc, year-1)
DEMres = '{}_{}m'.format(DEM, gridsz)
elev_mhw = 'elev_mhw'
aspect = '{}_aspect'.format(DEMres)
slope = '{}_slope'.format(DEMres)
veg_fc = os.path.splitext(os.path.basename(veg_polyshp))[0]
vegRaster = '{}_rst'.format(veg_fc)
dist_OCinlet = 'dist_OCinlet'
distDL = 'distDL_{}m'.format(dune_dist_threshold)
distDH = 'distDH_{}m'.format(dune_dist_threshold)
distSL_full = 'distSL_full'
mhw_shoreline = 'SLline'
distSL_ocean = 'distSL_ocean'
WL_topo2rst = 'WL_topo2rst'
prioryrcnt_rst = 'pts{}_cnt{}m'.format(year-1, lastyrpts_cnt_radius)
dist2plant = 'pts{}_dist'.format(year-1)

trainingPts = 'pts_training'

In [87]:
arcpy.env.cellSize = gridsz
arcpy.env.outputCoordinateSystem = crs
arcpy.env.overwriteOutput = True

# Look at environment variables
environments = arcpy.ListEnvironments()
environments.sort(key=str.lower)
for environment in environments:
    env_value = getattr(arcpy.env, environment)
    print("{0:<30}: {1}".format(environment, env_value))

addOutputsToMap               : True
autoCommit                    : 1000
cartographicCoordinateSystem  : None
cartographicPartitions        : None
cellSize                      : 5
coincidentPoints              : MEAN
compression                   : LZ77
configKeyword                 : None
extent                        : 464692.357101389 4189421.39007108 491937.668795472 4241953.1796662 NaN NaN NaN NaN
geographicTransformations     : None
maintainAttachments           : True
maintainSpatialIndex          : False
mask                          : None
MDomain                       : None
MResolution                   : None
MTolerance                    : None
nodata                        : NONE
outputCoordinateSystem        : <geoprocessing spatial reference object object at 0x00000000178FE530>
outputMFlag                   : Same As Input
outputZFlag                   : Same As Input
outputZValue                  : None
packageWorkspace              : \\Mac\stor\Projects\SA_DataProcessing\GDBs\2008.gdb
parallelProcessingFactor      : None
preserveGlobalIds             : False
processingServer              : None
processingServerPassword      : None
processingServerUser          : None
pyramid                       : PYRAMIDS -1 NEAREST DEFAULT 75 NO_SKIP
qualifiedFieldNames           : True
randomGenerator               : 0 ACM599
rasterStatistics              : STATISTICS 1 1
referenceScale                : None
resamplingMethod              : NEAREST
scratchFolder                 : \\Mac\stor\Projects\SA_DataProcessing\GDBs\scratch
scratchGDB                    : \\Mac\stor\Projects\SA_DataProcessing\GDBs\scratch.gdb
scratchWorkspace              : \\Mac\stor\Projects\SA_DataProcessing\GDBs
scriptWorkspace               : \\Mac\stor\Projects\SA_DataProcessing\GDBs\2008.gdb
snapRaster                    : \\Mac\stor\Projects\SA_DataProcessing\GDBs\2008.gdb\DEM08_5m
terrainMemoryUsage            : False
tileSize                      : 128 128
tinSaveVersion                : CURRENT
transferDomains               : False
workspace                     : \\Mac\stor\Projects\SA_DataProcessing\GDBs\2008.gdb
XYDomain                      : None
XYResolution                  : None
XYTolerance                   : None
ZDomain                       : None
ZResolution                   : None
ZTolerance                    : None

## Define functions

These were copied from bi-transect-extractor and in some cases modified.

In [88]:
def DFtoFC(df, out_fc, spatial_ref, id_fld='', xy=["seg_x", "seg_y"], keep_fields=[], fill=-99999):
    """Create FC from DF; default only copies X,Y,ID fields
    using too many fields with a large dataset will fail"""
    # Make sure name of index is not also a column name
    print("... converting dataframe to array... ")
    if df.index.name in df.columns:
        df.index.name = 'index'
    # Convert DF to array
    if keep_fields == 'all':
        keep_fields = df.columns
    else:
        keep_fields += xy + [id_fld]
    # First, remove 'object' type columns, all columns not in keep_fields, convert to floats, and fill Nulls.
    # Remove any rows with X == None
    xfld = xy[0]
    df = df[~df[xfld].isnull()]
    df = df[df[xfld]!=fill]
    try:
        arr = (df.select_dtypes(exclude=['object'])
                 .drop(df.columns.drop(keep_fields, errors='ignore'), errors='ignore', axis=1)
                 .astype('f8').fillna(fill).to_records())
    except ValueError:
        df.index.name = 'index'
        arr = (df.select_dtypes(exclude=['object'])
             .drop(df.columns.drop(keep_fields, errors='ignore'), errors='ignore', axis=1)
             .astype('f8').fillna(fill).to_records())
        print('Encountered ValueError while converting dataframe to array so set index name to "index" before running.' )
    # Convert array to FC
    print("... converting array to feature class... ")
    # out_fc = os.path.join(arcpy.env.scratchGDB, os.path.basename(out_fc)) # set out_fc path
    arcpy.Delete_management(out_fc) # delete if already exists
    arcpy.da.NumPyArrayToFeatureClass(arr, out_fc, xy, spatial_ref)
    print()
    return(out_fc)

def FCtoDF(fc, xy=False, dffields=[], fill=-99999, id_fld=False, extra_fields=[], verbose=True, fid=False, explode_to_points=False, length=False):
    """Convert FeatureClass to pandas.DataFrame with np.nan values"""
    # 1. Convert FC to Numpy array
    if explode_to_points:
        message = 'Converting feature class vertices to array with X and Y...'
        if not id_fld:
            print('Error: if explode_to_points is set to True, id_fld must be specified.')
        fcfields = [id_fld, 'SHAPE@X', 'SHAPE@Y', 'OID@']
    else:
        fcfields = [f.name for f in arcpy.ListFields(fc)]
        if xy:
            message = 'Converting feature class to array with X and Y...'
            fcfields += ['SHAPE@X','SHAPE@Y']
        else:
            message = '...converting feature class to array...'
        if fid:
            fcfields += ['OID@']
        if length:
            fcfields += ['SHAPE@LENGTH']
    if verbose:
        print(message)
    arr = arcpy.da.FeatureClassToNumPyArray(os.path.join(arcpy.env.workspace, fc),
                    fcfields, null_value=fill, explode_to_points=explode_to_points)
    # 2. Convert array to dict
    if verbose:
        print('...converting array to dataframe...')
    if not len(dffields):
        dffields = list(arr.dtype.names)
    else:
        if xy:
            dffields += ['SHAPE@X','SHAPE@Y']
        if fid:
            dffields += ['OID@']
        if length:
            dffields += ['SHAPE@LENGTH']
    dict1 = {}
    for f in dffields:
        if np.ndim(arr[f]) < 2: # "data must be 1-dimensional" to be included in the DataFrame
            dict1[f] = arr[f]
    # 3. Convert dict to DF
    if not id_fld:
        df = pd.DataFrame(dict1)
    else:
        df = pd.DataFrame(dict1, index=arr[id_fld])
        df.index.name = id_fld
    # replace fill values with NaN values
    df.replace(fill, np.nan, inplace=True) # opposite: df.fillna(fill, inplace=True)
    if len(extra_fields) > 0:
        extra_fields += [x.upper() for x in extra_fields]
        df.drop(extra_fields, axis=1, inplace=True, errors='ignore')
    # restore columns to original order# compare dffields and df.columns. Remove any extra from dffields.
    for f in dffields:
        if not f in df.columns:
            if not f in fcfields:
                print("WARNING: field '{}' listed in dffields is not present in the file.".format(f))
                dffields.remove(f)
    df = df.reindex_axis(dffields, axis=1)
    return(df)

## Points: plant observations and random points

Processing notes:

- "object" type columns won't be included in the output FC.
- We don't want to use Boolean variables because they don't accept NaN values. 
- Using the true_values and false_values arguments in read_excel doesn't always work for Ungulate_Grazed. 
- So I convert them to numeric by just recoding them with replace.

In [198]:
# Set up spreadsheet import
plants_xls = r'\\Mac\stor\Projects\SA_DataProcessing\input_data\WILD_AMPU_COMBO_01to18.xlsx'
colnames = ['YEAR', 'ID', 'NORTHING', 'EASTING', 'GPS_Height', 'AREA_cm2', 'Caged', 'Ungulate_Grazed', 'Insect_Grazed', 'Grazed']
xlscols = 'A:G,K:N' # Select columns in xls file: Year to area and caged to grazed

In [199]:
# Import spreadsheet as pandas DF and subset to the given year
allplants = pd.read_excel(plants_xls, index_col='New ID', parse_cols=xlscols, names=colnames) 
plants = allplants[allplants.YEAR == year]

# Convert variables to numeric by coding values for grazed status
grazed_codes = {'Y':1, 'N':0, ' N':0, 'D':2, 'H':3, 'I':4, 'HI':5, 'DI':6, 'U':7, 'UU':8, 'UUI':9, 'D,I':24, r'N/A':fill}
plants = plants.replace(grazed_codes)
plants = plants.fillna(fill)

# QC the columns
print('Unique values in given columns:')
for c in ['Caged', 'Insect_Grazed', 'Ungulate_Grazed', 'Grazed']:
    print('{}: {}'.format(c, plants[c].unique()))
print('\nColumn data types:')
print(plants.dtypes)
print('\nFirst five rows:')
plants.head()

Unique values in given columns:
Caged: [1 0]
Insect_Grazed: [  1.00000000e+00   0.00000000e+00  -9.99990000e+04]
Ungulate_Grazed: [0 1]
Grazed: [ 4  7  2  9  8  6 24  3  1]

Column data types:
YEAR                 int64
ID                  object
NORTHING           float64
EASTING            float64
GPS_Height         float64
AREA_cm2           float64
Caged                int64
Ungulate_Grazed      int64
Insect_Grazed      float64
Grazed               int64
dtype: object

First five rows:

,YEAR,ID,NORTHING,EASTING,GPS_Height,AREA_cm2,Caged,Ungulate_Grazed,Insect_Grazed,Grazed
New ID,,,,,,,,,,
7210,2008,a1,4239865.685,490662.512,-35.557,45.0,1,0,1.0,4
7211,2008,a10,4217187.966,483176.644,-35.113,30.0,0,0,0.0,7
7212,2008,a100,4232946.369,488211.500,-36.646,5.0,0,0,1.0,4
7213,2008,a101,4232720.250,488208.124,-35.673,30.0,0,0,1.0,4
7214,2008,a102,4214407.771,481845.987,-36.823,5.0,1,0,1.0,4

#### Investigate duplicate points.

- In 2008, there are 5 coordinates pairs that have many duplicate entries. All the duplicates have fill values for GPS_Height. They have different AREA_cm2 values.
- The ID value and coordinates (NORTHING, EASTING) are completely correlated in 2008, but not in other years. 
- Years with no duplicate coordinate pairs: 2003, 2010-2018

---

- Do you want the ID value from the plants dataset in the output? Here's how it is described (https://docs.google.com/document/d/14BMl2Z5N1y479PCGkHRXOQ7FRylf_xcQ9C2r3GnJ2eA/edit)


The [Key to Data Fields](https://docs.google.com/document/d/14BMl2Z5N1y479PCGkHRXOQ7FRylf_xcQ9C2r3GnJ2eA/edit) document addresses duplicate points: 
>ID's that begin with 'Area' when a single point was taken for many plants in a given area. 

>ID- 
>- The ID number given to the feature in the .ssf file (when only a number is listed).  or
>- When "Area_a1" is used a single point was taken for many plants in a given area. or
>- When "b29" is used multiple GPS units were in place which would give the features similar feature Id's so we made discreet Id's to avoid mixing them up. a unit b unit c unit, etc.

In [201]:
# QC: check for entries at the same point
print("Total number of plant points: {}".format(len(plants)))
print("Number of unique ID values among plants: {}".format(len(plants['ID'].unique())))

duplicates = plants.loc[plants.duplicated(['NORTHING', 'EASTING'], keep=False)]
print("Total number of duplicates: {}".format(len(duplicates)))

print('\nNumber of unique duplicated values by field:')
mapping = {}
for col in colnames:
    mapping[col] = len(duplicates[col].unique())
print(pd.Series(data=mapping))
print('\n')

unique_duplicates = duplicates.drop_duplicates()
print("Number of unique entries among duplicates: {}".format(len(unique_duplicates)))
unique_duplicates = duplicates.drop_duplicates(['NORTHING', 'EASTING'])
print("Number of unique XY entries among duplicates: {}".format(len(unique_duplicates)))

# duplicates.groupby('ID').groups

Total number of plant points: 1048
Number of unique ID values among plants: 787
Total number of duplicates: 266

Number of unique duplicated values by field:
AREA_cm2           30
Caged               2
EASTING             5
GPS_Height          1
Grazed              2
ID                  5
Insect_Grazed       2
NORTHING            5
Ungulate_Grazed     2
YEAR                1
dtype: int64


Number of unique entries among duplicates: 95
Number of unique XY entries among duplicates: 5

In [202]:
# QC: check for entries at the same point
duplicates = plants.loc[plants.duplicated(['NORTHING', 'EASTING'], keep=False)]

print("Total number of duplicates (XY): {}".format(len(duplicates)))
print("Number of unique duplicated values (XY): {}".format(len(duplicates['AREA_cm2'].unique())))

unique_duplicates = duplicates.drop_duplicates()
print("Number of unique entries among duplicates: {}".format(len(unique_duplicates)))
unique_duplicates = duplicates.drop_duplicates(['NORTHING', 'EASTING'])
print("Number of unique XY entries among duplicates: {}".format(len(unique_duplicates)))

Total number of duplicates (XY): 266
Number of unique duplicated values (XY): 30
Number of unique entries among duplicates: 95
Number of unique XY entries among duplicates: 5

#### GPS_Height

All duplicates have fill in GPS_Height. Is this a flag for duplicated entries? 

- Using GIS, I see that there are 5 sites where GPS_Height values are fill.Those are all duplicated with the following quantities (from south to north): 104, 32, 52, 52, and 26.
- After removing the duplicate rows, there are still 95 fill values in GPS_Height.

In [203]:
# Look at GPS_Height in duplicates
print(duplicates['GPS_Height'].min())
print(duplicates['GPS_Height'].max())
all(duplicates['GPS_Height'] == fill)

-99999.0
-99999.0

True

In [204]:
# Look at GPS_Height without duplicates
plants_nodups = plants.drop_duplicates()
print(plants_nodups['GPS_Height'].min())
print(plants_nodups['GPS_Height'].max())
print(all(plants_nodups['GPS_Height'] == fill))
print(sum(plants_nodups['GPS_Height'] == fill))
plants_nodups.loc[plants_nodups['GPS_Height'] == fill].head()

-99999.0
-31.883
False
95

,YEAR,ID,NORTHING,EASTING,GPS_Height,AREA_cm2,Caged,Ungulate_Grazed,Insect_Grazed,Grazed
New ID,,,,,,,,,,
7992,2008,Area_a1,4215483.0,482405.0,-99999.0,1.0,0,0,0.0,7
7993,2008,Area_a1,4215483.0,482405.0,-99999.0,2.0,0,0,-99999.0,7
7994,2008,Area_a1,4215483.0,482405.0,-99999.0,1.0,0,0,-99999.0,7
8024,2008,Area_a2,4218607.0,483755.0,-99999.0,1.0,0,1,-99999.0,1
8025,2008,Area_a2,4218607.0,483755.0,-99999.0,2.0,0,1,-99999.0,1

#### AREA_cm2

The duplicates have different AREA values. Does this mean they're not duplicate entries? 

- Does the difference in AREA indicate that a plant was surveyed multiple times over the course of the year and each time it may have grown?

In [87]:
a1_dups = duplicates.loc[duplicates['ID']=='Area_a1']
a1_dups

print(a1_dups['AREA_cm2'].min())
print(a1_dups['AREA_cm2'].max())
print(len(a1_dups))

a1_dups.head()

1.0
2.0
31

,YEAR,ID,NORTHING,EASTING,GPS_Height,AREA_cm2,Caged,Ungulate_Grazed,Insect_Grazed,Grazed
New ID,,,,,,,,,,
7993,2008,Area_a1,4215483.0,482405.0,-99999.0,2.0,0,0,-99999.0,7
7994,2008,Area_a1,4215483.0,482405.0,-99999.0,1.0,0,0,-99999.0,7
7995,2008,Area_a1,4215483.0,482405.0,-99999.0,2.0,0,0,-99999.0,7
7996,2008,Area_a1,4215483.0,482405.0,-99999.0,1.0,0,0,-99999.0,7
7997,2008,Area_a1,4215483.0,482405.0,-99999.0,2.0,0,0,-99999.0,7

In [ ]:
grouped_dups = duplicates.groupby(['NORTHING', 'EASTING'])
# for name, group in grouped_dups:
#     print(name)
#     print(group)

# grouped_dups.first()
grouped_dups.count()
print(grouped_dups.min())
print(grouped_dups.max())